version: '3.8'

services:
  test-front:
    build:
      context: .
      dockerfile: Dockerfile
    image: test-front
    ports:
      - "3000:3000"
    volumes:
      - ./data:/app/data
    env_file:
      - .env.local
    environment:
      - NODE_ENV=production
    restart: unless-stopped
